/* VARIABLES */
:root {
  --light: #E0D9D6;
  --dark: #474C4F;
  --accent1: #3D453E;
  --accent2: #898F81;
  --accent3: #DBC1B0;
  --accent4: #92644E;

  --font-family:'Source Code Pro', monospace;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STYLES: */

body {
  font-family: var(--font-family);
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: var(--light);
  color: var(--dark);
  font-size: 1.5rem;
}

h1{
  padding: 2rem;
  font-size: 4rem;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  height: 70%;
}

#income-section, #expense-section {
  width: 48%;
  border-radius: 2rem;
  padding: 1.5rem;
}

#income-section{
  background-color: var(--accent2);
  color: var(--accent1);
}

#expense-section{
  background-color: var(--accent3);
  color: var(--accent4);
}

#budget-section {
  margin-top: 1rem;
}

#income-form, #expense-form{
  padding: 1rem;
}

#income-list, #expense-list{
  padding: 1.2rem;
  min-height: 15rem;
  background-color: var(--light);
  margin: 1rem;
  border-radius: 2rem;
  list-style: none;
}

input{
  background-color: var(--light);
  border-style: none;
  min-height: 2rem;
  border-radius: 0.2rem;
  width: 50%;
}

button{
  background-color: var(--light);
  border-style: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  min-height: 2rem;
  padding: 1rem;
  border-radius: 1.2rem;
  margin: 1.2rem;
  font-weight: bold;
}

@media only screen and (max-width: 820px) {
  .container {
    display:inherit;
  }
  #income-section, #expense-section{
    width: 100%;
  }
  input{
    width: 100%;
  }
}